src/main/app/rest-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="rest_service-httpListenerConfig" host="localhost" port="8082" connectionIdleTimeout="300000" doc:name="HTTP Listener Configuration" />
    <apikit:config name="rest_service-config" raml="rest_service.raml" consoleEnabled="false" doc:name="Router" />
    <flow name="rest_service-main">
        <http:listener config-ref="rest_service-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="rest_service-config" doc:name="APIkit Router" />
        <exception-strategy ref="ChoiceExceptionStrategy" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="rest_service-console">
        <http:listener config-ref="rest_service-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="rest_service-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/wsact:rest_service-config">
        <flow-ref name="rest-sys-api-implementation" doc:name="rest_implementation" />
    </flow>
    <flow name="get:/wzat:rest_service-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;&quot;WSACTResponse&quot; : {&#xA;&quot;@xmlns:soap&quot; : &quot;http://schemas.xmlsoap.org/soap/envelope/&quot;,&#xA;&quot;WSACTResult&quot; : {&#xA;&quot;SEARCH_TYP&quot; : &quot;A&quot;,&#xA;&quot;SEARCH_NO&quot; : &quot;3000074100&quot;,&#xA;&quot;AGENT&quot; : &quot;151134&quot;,&#xA;&quot;WSRESULT&quot; : &quot;100&quot;,&#xA;&quot;WSMESSAGE&quot; : &quot;SUCCESSFUL&quot;,&#xA;&quot;ACCOUNT_NO&quot; : &quot;3000074110&quot;,&#xA;&quot;ACCT_NAME1&quot; : &quot;BARTUNEK APPLIANCE INC&quot;,&#xA;&quot;ACCT_ADDR1&quot; : &quot;2709 PRIMROSE LN SW&quot;,&#xA;&quot;ACCT_CITY&quot; : &quot;CEDAR RAPIDS&quot;,&#xA;&quot;ACCT_ST&quot; : &quot;IA&quot;,&#xA;&quot;ACCT_ZIP&quot; : &quot;52404-2453&quot;,&#xA;&quot;PHONE_1&quot; : &quot;319&quot;,&#xA;&quot;PHONE_2&quot; : &quot;363&quot;,&#xA;&quot;PHONE_3&quot; : &quot;6762&quot;,&#xA;&quot;FAX_1&quot; : &quot;319&quot;,&#xA;&quot;FAX_2&quot; : &quot;363&quot;,&#xA;&quot;FAX_3&quot; : &quot;8992&quot;,&#xA;&quot;SERV_CNTR&quot; : &quot;Y&quot;,&#xA;&quot;CONTACT_NM&quot; : &quot;CHERRYL BARTUNEK&quot;,&#xA;&quot;LineItems&quot; : [&#xA;{&#xA;&quot;POL_STAT&quot; : &quot;II&quot;,&#xA;&quot;TYPE_CODE&quot; : &quot;BP2&quot;,&#xA;&quot;P_PLN&quot; : &quot;D&quot;,&#xA;&quot;COB&quot; : &quot;331&quot;,&#xA;&quot;POLNO&quot; : &quot;60039894&quot;,&#xA;&quot;EFF_DATE&quot; : &quot;20171120&quot;,&#xA;&quot;EXP_DATE&quot; : &quot;20181120&quot;,&#xA;&quot;NAME1&quot; : &quot;BARTUNEK APPLIANCE INC&quot;,&#xA;&quot;LONG_NAME1&quot; : &quot;BARTUNEK APPLIANCE INC &amp;&quot;,&#xA;&quot;RATE_ST&quot; : &quot;IA&quot;,&#xA;&quot;ADDR1&quot; : &quot;2709 PRIMROSE LN SW&quot;,&#xA;&quot;CITY&quot; : &quot;CEDAR RAPIDS&quot;,&#xA;&quot;STATE_2A&quot; : &quot;IA&quot;,&#xA;&quot;ZIPCODE&quot; : &quot;52404-2453&quot;,&#xA;&quot;POL_STATUS&quot; : &quot;In Force&quot;,&#xA;&quot;BILL_DESC&quot; : &quot;Direct Bill&quot;,&#xA;&quot;POL_TYPE&quot; : &quot;UNI-PAK&quot;,&#xA;&quot;CHG_YN&quot; : &quot;Y&quot;,&#xA;&quot;POL_AGENT&quot; : &quot;151134&quot;,&#xA;&quot;BUS_TYPE&quot; : &quot;C&quot;,&#xA;&quot;EMPLNO_UW&quot; : &quot;2908&quot;,&#xA;&quot;TERM&quot; : &quot;C&quot;,&#xA;&quot;DEC_ACT_DT&quot; : &quot;20171016&quot;&#xA;},&#xA;{&#xA;&quot;COB&quot; : &quot;0&quot;,&#xA;&quot;POLNO&quot; : &quot;0&quot;,&#xA;&quot;EFF_DATE&quot; : &quot;0&quot;,&#xA;&quot;EXP_DATE&quot; : &quot;0&quot;,&#xA;&quot;POL_AGENT&quot; : &quot;0&quot;,&#xA;&quot;EMPLNO_UW&quot; : &quot;0&quot;,&#xA;&quot;DEC_ACT_DT&quot; : &quot;0&quot;&#xA;},&#xA;{&#xA;&quot;COB&quot; : &quot;0&quot;,&#xA;&quot;POLNO&quot; : &quot;0&quot;,&#xA;&quot;EFF_DATE&quot; : &quot;0&quot;,&#xA;&quot;EXP_DATE&quot; : &quot;0&quot;,&#xA;&quot;POL_AGENT&quot; : &quot;0&quot;,&#xA;&quot;EMPLNO_UW&quot; : &quot;0&quot;,&#xA;&quot;DEC_ACT_DT&quot; : &quot;0&quot;&#xA;},&#xA;{&#xA;&quot;COB&quot; : &quot;0&quot;,&#xA;&quot;POLNO&quot; : &quot;0&quot;,&#xA;&quot;EFF_DATE&quot; : &quot;0&quot;,&#xA;&quot;EXP_DATE&quot; : &quot;0&quot;,&#xA;&quot;POL_AGENT&quot; : &quot;0&quot;,&#xA;&quot;EMPLNO_UW&quot; : &quot;0&quot;,&#xA;&quot;DEC_ACT_DT&quot; : &quot;0&quot;&#xA;},&#xA;{&#xA;&quot;COB&quot; : &quot;0&quot;,&#xA;&quot;POLNO&quot; : &quot;0&quot;,&#xA;&quot;EFF_DATE&quot; : &quot;0&quot;,&#xA;&quot;EXP_DATE&quot; : &quot;0&quot;,&#xA;&quot;POL_AGENT&quot; : &quot;0&quot;,&#xA;&quot;EMPLNO_UW&quot; : &quot;0&quot;,&#xA;&quot;DEC_ACT_DT&quot; : &quot;0&quot;&#xA;}&#xA;],&#xA;&quot;StatusMessages&quot; : {&#xA;&quot;StatusMessage&quot; : &quot;17:09:55:75    INQUIRY REQUEST&quot;&#xA;}&#xA;}&#xA;}&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/wsact:rest_service-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/wzat:rest_service-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="rest_service-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
