src/main/app/soap-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <flow name="WSACT_implementationFlow">
        <dw:transform-message doc:name="Mocking output data to soap service">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml

---
{
	WSACTResponse: {
		WSACTResult: {
			SEARCH_TYP:"A" as :string,
			SEARCH_NO: 3000074100 as :number,
			AGENT: 151134 as :number,
			LST_RECORD:"",
			WSRESULT:100 as :number ,
		    WSMESSAGE:"SUCCESSFUL" as :string ,
			ACCOUNT_NO: 3000074110 as :number,
			ACCT_NAME1: "BARTUNEK APPLIANCE INC" as :string,
			ACCT_NAME2: "",
			ACCT_ADDR1: "2709 PRIMROSE LN SW" as :string,
			ACCT_ADDR2: "",
			ACCT_CITY: "CEDAR RAPIDS" as :string,
			ACCT_ST: "IA" as :string,
			ACCT_ZIP:"52404-2453" as :string ,
			PHONE_1: 319 as :number,
			PHONE_2: 363 as :number,
			PHONE_3: 6762 as :number,
			FAX_1: 319 as :number,
			FAX_2: 363 as :number,
			FAX_3: 8992 as :number,
			SERV_CNTR: "Y" as :string,
			EDELIVERY: "",
			EMAIL_ADDR: "",
			WBSITE_ADR: "",
			CONTACT_NM: "CHERRYL BARTUNEK" as :string,
			LineItems: {
				POL_STAT:"II" as :string ,
				TYPE_CODE: "BP2" as :string,
				P_PLN: "D" as :string,
				COB: 331 as :number,
				POLNO:60039894 as :number ,
				EFF_DATE:20171120 as :number,
				EXP_DATE: 20181120 as :number,
				NAME1: "BARTUNEK APPLIANCE INC" as :string,
				LONG_NAME1:"BARTUNEK APPLIANCE INC &" as :string,
				RATE_ST: "IA" as :string,
				ADDR1: "2709 PRIMROSE LN SW" as :string,
				CITY: "CEDAR RAPIDS" as :string,
				STATE_2A: "IA" as :string,
				ZIPCODE:"52404-2453" as :string,
				POL_STATUS: "In Force" as :string,
				BILL_DESC:"Direct Bill" as :string ,
				POL_TYPE: "UNI-PAK" as :string,
				CHG_YN: "Y" as :string,
				POL_AGENT: 151134 as :number,
				BUS_TYPE: "C" as :string,
				A_ID: "",
				EMPLNO_UW: 2908 as :number,
				LC_CONTACT: "",
				LC_PHONE: "",
				TERM: "C" as :string,
				DEC_ACT_DT: 20171016 as :number
			},
			LineItems: {
				POL_STAT:"" ,
				TYPE_CODE: "",
				P_PLN: "",
				COB: 0,
				POLNO:0 ,
				EFF_DATE:0,
				EXP_DATE: 0,
				NAME1: "",
				LONG_NAME1:"",
				RATE_ST: "",
				ADDR1: "",
				CITY: "",
				STATE_2A: "",
				ZIPCODE:"",
				POL_STATUS: "",
				BILL_DESC:"" ,
				POL_TYPE: "",
				CHG_YN: "",
				POL_AGENT:0,
				BUS_TYPE:"",
				A_ID: "",
				EMPLNO_UW:0,
				LC_CONTACT: "",
				LC_PHONE: "",
				TERM: "",
				DEC_ACT_DT: 0
			},LineItems: {
				POL_STAT:"" ,
				TYPE_CODE: "",
				P_PLN: "",
				COB: 0,
				POLNO:0 ,
				EFF_DATE:0,
				EXP_DATE: 0,
				NAME1: "",
				LONG_NAME1:"",
				RATE_ST: "",
				ADDR1: "",
				CITY: "",
				STATE_2A: "",
				ZIPCODE:"",
				POL_STATUS: "",
				BILL_DESC:"" ,
				POL_TYPE: "",
				CHG_YN: "",
				POL_AGENT:0,
				BUS_TYPE:"",
				A_ID: "",
				EMPLNO_UW:0,
				LC_CONTACT: "",
				LC_PHONE: "",
				TERM: "",
				DEC_ACT_DT: 0
			},LineItems: {
				POL_STAT:"" ,
				TYPE_CODE: "",
				P_PLN: "",
				COB: 0,
				POLNO:0 ,
				EFF_DATE:0,
				EXP_DATE: 0,
				NAME1: "",
				LONG_NAME1:"",
				RATE_ST: "",
				ADDR1: "",
				CITY: "",
				STATE_2A: "",
				ZIPCODE:"",
				POL_STATUS: "",
				BILL_DESC:"" ,
				POL_TYPE: "",
				CHG_YN: "",
				POL_AGENT:0,
				BUS_TYPE:"",
				A_ID: "",
				EMPLNO_UW:0,
				LC_CONTACT: "",
				LC_PHONE: "",
				TERM: "",
				DEC_ACT_DT: 0
			},
			LineItems: {
				POL_STAT:"" ,
				TYPE_CODE: "",
				P_PLN: "",
				COB: 0,
				POLNO:0 ,
				EFF_DATE:0,
				EXP_DATE: 0,
				NAME1: "",
				LONG_NAME1:"",
				RATE_ST: "",
				ADDR1: "",
				CITY: "",
				STATE_2A: "",
				ZIPCODE:"",
				POL_STATUS: "",
				BILL_DESC:"" ,
				POL_TYPE: "",
				CHG_YN: "",
				POL_AGENT:0,
				BUS_TYPE:"",
				A_ID: "",
				EMPLNO_UW:0,
				LC_CONTACT: "",
				LC_PHONE: "",
				TERM: "",
				DEC_ACT_DT: 0
			},

			StatusMessages: {
				StatusMessage: "17:09:55:75    INQUIRY REQUEST" as :string
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger1"/>
    </flow>
</mule>
